.row-2{
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-gap: 50px 50px; */
    width: 100vw;
    height: 90vh;
    /* padding: 10px 50px; */
}
.width-1{
    width: 50vw;
    height: 100%;
    border: 10px solid black;
    margin-left: 10px;
}
.video{
    width: 50vw;
    height: 50%;
}
video{
    width: 50vw;
    max-height: 100%;
    object-fit: contain;
}